* {
  padding: 0%;
  margin: 0%;
}

a {
  text-decoration: none;
}

.wrapper {
  width: 1400px;
  margin: auto;
}

span {
  color: #90e051;
}

@media only screen and (max-width: 500px) {
  .wrapper {
    width: 100%;
  }
}
nav {
  width: 100%;
  height: 80px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  padding-top: 30px;
}

.img1 {
  width: 100px;
  height: 78px;
}

a {
  /* Home */
  width: 93px;
  height: 23px;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  font-size: 25.5738px;
  line-height: 42px;
  /* or 165% */
  color: #000000;
  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
  transition: all 0.5s ease;
}
a:hover {
  color: #90e051;
}

.words {
  display: flex;
  align-items: center;
  gap: 50px;
  height: 50px;
}

.burger {
  display: none;
  gap: 5px;
  width: 40px;
  height: 40px;
  flex-direction: column;
}

.item {
  width: 40px !important;
  height: 10px !important;
  border-radius: 3px;
  background-color: rgb(0, 0, 0);
}

.icons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  height: 50px;
}

@media only screen and (max-width: 500px) {
  .burger {
    display: flex !important;
  }
  .words {
    display: none !important;
  }
  nav {
    width: 100% !important;
    justify-content: space-around !important;
  }
  .icons {
    display: none;
  }
}
.intro {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
}

.intro-h1 {
  width: 500px;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  font-size: 80px;
  /* or 165% */
  color: #000000;
}

.left {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.intro-p {
  width: 570px;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  /* or 150% */
  color: #000000;
}

.buttons {
  margin-top: 50px;
  gap: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.intro-btn {
  width: 200px;
  height: 70px;
  border: none;
  background: #90e051;
  border-radius: 20px;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-size: 29px;
  line-height: 49px;
  /* or 165% */
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  transition: all 0.5s ease;
}
.intro-btn:hover {
  border: #90e051 solid 10px;
  background-color: #ffffff;
  color: #90e051;
}

.intro-button {
  border-radius: 20px;
  background-color: #ffffff;
  border: 10px solid #90e051;
  transition: all 0.5s ease;
  width: 150px;
  height: 70px;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-size: 29.3999px;
  line-height: 49px;
  /* or 165% */
  display: flex;
  align-items: center;
  justify-content: center;
  color: #90e051;
}
.intro-button:hover {
  background-color: #90e051;
  color: #ffffff;
}

@media only screen and (max-width: 500px) {
  .intro {
    margin-top: 100px;
  }
  .intro-h1 {
    width: 270px;
    font-size: 50px;
    text-align: center;
    margin: auto;
  }
  .intro-p {
    width: 80%;
    text-align: center;
    font-size: 19;
    margin: 20px auto;
  }
  .buttons {
    flex-direction: column;
    width: 100%;
  }
  .intro-btn {
    width: 90%;
  }
  .intro-button {
    width: 90%;
  }
  .right {
    display: none;
  }
}
.items {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 70px;
  margin-top: 100px;
}

.card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}

.item-p {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 600;
  font-size: 15.9429px;
  line-height: 21px;
  /* identical to box height, or 133% */
  color: #000000;
}

.item-num {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-size: 26.5715px;
  line-height: 32px;
  /* identical to box height, or 120% */
  color: #000000;
}

@media only screen and (max-width: 500px) {
  .items {
    flex-wrap: wrap;
  }
}
.wrapper-2 {
  width: 100%;
  background-color: #90e051;
}

.moba {
  width: 1400px;
  margin: 200px auto 200px;
  height: 400px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.h3 {
  width: 800px;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  font-size: 65.1356px;
  line-height: 77px;
  color: #ffffff;
}

@media only screen and (max-width: 500px) {
  .mobile {
    display: none;
  }
  .moba {
    width: 100%;
    height: auto;
    justify-content: center;
  }
  .h3 {
    font-size: 30px;
    width: 90%;
    line-height: 50px;
    text-align: center;
  }
}
.comments {
  width: 100%;
  display: flex;
  align-items: end;
  height: 660px;
  justify-content: space-between;
}

.right-com {
  background-image: url(../img/img.png);
  background-size: cover;
  display: flex;
  align-items: end;
  justify-content: start;
  width: 600px;
  height: 500px;
  border-radius: 10px;
  position: relative;
}

.order {
  width: 546.63px;
  height: 268.28px;
  background: #ffffff;
  box-shadow: 0px 5.03805px 50.3805px rgba(0, 0, 0, 0.1);
  border-radius: 10.6969px;
  position: absolute;
  left: -100px;
  bottom: -70px;
  display: flex;
  align-items: start;
  padding-left: 50px;
  justify-content: center;
  gap: 10px;
  flex-direction: column;
}

.h6 {
  /* Order now */
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  font-size: 25.1902px;
  line-height: 35px;
  /* identical to box height, or 140% */
  /* Gray 1 */
  color: #333333;
}

.order-p {
  width: 471.06px;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 20.1522px;
  line-height: 30px;
  /* or 150% */
  /* Gray 3 */
  color: #828282;
}

.h2 {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 71px;
  /* identical to box height, or 117% */
  font-feature-settings: "kern" off;
  /* Gray 1 */
  color: #333333;
}

.left-p {
  width: 675.1px;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 20.1522px;
  line-height: 30px;
  /* or 150% */
  /* Gray 3 */
  color: #828282;
}

.d-3-p {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  font-size: 22.6712px;
  line-height: 33px;
  /* or 144% */
  color: #90e051;
  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}

.p {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 18.8392px;
  line-height: 28px;
  /* identical to box height, or 150% */
  /* Gray 3 */
  color: #828282;
}

.d1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 650px;
}

.d2 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.left-com {
  display: flex;
  align-items: start;
  justify-content: center;
  gap: 50px;
  flex-direction: column;
}

.a {
  background-image: url(../img/img.png);
  background-size: cover;
  display: none;
  align-items: center;
  justify-content: center;
  width: 90%;
  height: 200px;
  border-radius: 10px;
  margin: auto;
}

.or {
  margin-bottom: 200px;
  width: 85%;
  height: 150px;
  background: #ffffff;
  box-shadow: 0px 5.03805px 50.3805px rgba(0, 0, 0, 0.1);
  border-radius: 10.6969px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  flex-direction: column;
  padding: 10px 5px;
}

.hh {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  /* identical to box height, or 140% */
  text-align: center;
  /* Gray 1 */
  color: #333333;
}

.p1 {
  width: auto;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  /* or 150% */
  text-align: center;
  /* Gray 3 */
  color: #828282;
}

@media only screen and (max-width: 500px) {
  .a {
    display: flex;
  }
  .right-com {
    display: none !important;
  }
  .comments {
    flex-direction: column;
  }
  .h2 {
    font-size: 30px !important;
    text-align: center !important;
    margin: 50px auto 0;
  }
  .left-p {
    width: 90% !important;
    margin: 0 auto 100px !important;
    text-align: center !important;
  }
  .d1 {
    display: none;
  }
}
.menu {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 100px;
}

.block {
  display: flex;
  padding: 100px;
  justify-content: center;
  align-items: end;
  background-image: url(../img/block.png);
  background-size: contain;
  width: 450px;
  height: 500px;
}

.menu-btn {
  width: 265.17px;
  height: 63.01px;
  background: #ffffff;
  border-radius: 17.5029px;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  font-size: 22.3521px;
  line-height: 26px;
  letter-spacing: -0.025em;
  border: none;
  color: #90e051;
  transition: all 0.5s ease;
}
.menu-btn:hover {
  background-color: #90e051;
  border: #ffffff solid 5px;
  color: #000;
}

@media only screen and (max-width: 500px) {
  .bur {
    display: none;
  }
  .block {
    width: 90%;
    height: 400px;
    background-size: cover;
    padding: 0;
    margin: auto;
  }
  .menu-btn {
    margin: auto;
    width: 60%;
    height: 50px;
    margin-bottom: 50px;
  }
}
.about {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-ord {
  margin-top: 200px;
  margin-left: 500px;
  background-image: url(../img/big.png);
  background-size: cover;
  display: flex;
  align-items: end;
  justify-content: start;
  width: 898px;
  height: 668px;
  border-radius: 10px;
  position: relative;
}

.b {
  position: relative;
  background-image: url(../img/image2.png);
  background-size: cover;
  display: none;
  align-items: start;
  justify-content: center;
  width: 90%;
  height: 200px;
  border-radius: 10px;
}

.order-2 {
  width: 630px;
  height: 300px;
  background: #ffffff;
  box-shadow: 0px 5.03805px 50.3805px rgba(0, 0, 0, 0.1);
  border-radius: 10.6969px;
  position: absolute;
  left: -500px;
  bottom: -120px;
  display: flex;
  align-items: start;
  padding-left: 50px;
  justify-content: center;
  gap: 10px;
  flex-direction: column;
}

.or2 {
  position: absolute;
  top: -100px;
  width: 90%;
  height: 200px;
  background: #ffffff;
  box-shadow: 0px 5.03805px 50.3805px rgba(0, 0, 0, 0.1);
  border-radius: 10.6969px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-direction: column;
}

.h5 {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  font-size: 40.2598px;
  line-height: 58px;
  /* or 144% */
  color: #000000;
}

.ha {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  /* or 144% */
  color: #000000;
  font-size: 25px;
  text-align: center;
}

.about-p {
  width: 600px;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  font-size: 28.4187px;
  line-height: 41px;
  /* or 144% */
  color: #828282;
}

.p2 {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  /* or 144% */
  color: #828282;
  width: 90%;
  font-size: 24px;
  text-align: center;
}

@media only screen and (max-width: 500px) {
  .b {
    display: flex;
  }
  .about-ord {
    display: none;
  }
}
.wrapper-3 {
  width: 1400px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin: 200px auto 0;
}

.form-div {
  top: 100px;
  background-color: #fff;
  position: absolute;
  z-index: 2;
  height: 250px;
  width: 75%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px 0 30px;
  box-shadow: 0px 7px 51px rgba(0, 0, 0, 0.5);
  border-radius: 20px;
}

.form-p {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 40px;
  /* or 125% */
  color: #90e051;
}

.in {
  border: 1px solid #90e051;
  width: 300px;
  height: 50px;
  padding-left: 20px;
  color: #90e051;
  /* Enter your mail */
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */
  color: #90e051;
}

.sub {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #90e051;
  width: 170px;
  height: 54px;
  border: none;
  color: #fff;
  /* Enter your mail */
  font-family: "Rubik";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */
  display: flex;
  align-items: center;
  color: #fff;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-right: 20px;
}

form {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media only screen and (max-width: 500px) {
  .wrapper-3 {
    width: 100%;
    margin: auto;
  }
  .br {
    display: none;
  }
  .form-p {
    font-size: 15px;
  }
  .form-div {
    height: 180px;
    flex-direction: column;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .in {
    width: 45%;
    height: 40px;
    font-size: 15px;
  }
  .sub {
    width: 30%;
    height: 43px;
    font-size: 10px;
  }
}
.wrapper-4 {
  margin-top: 200px;
  width: 100%;
  height: 600px;
  background-image: url(../img/Explore.png);
  background-size: cover;
  position: relative;
  z-index: 1;
}

footer {
  width: 1400px;
  height: 600px;
  display: flex;
  align-items: center;
  justify-content: end;
  margin: auto;
}

.h4 {
  margin-right: 100px;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  font-size: 30.7143px;
  line-height: 43px;
  /* identical to box height, or 140% */
  /* fffffff */
  color: #ffffff;
}

.text {
  margin-right: 100px;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  /* or 144% */
  /* fffffff */
  color: #ffffff;
  text-align: left;
}

@media only screen and (max-width: 500px) {
  .wrapper-4 {
    height: 300px;
  }
  footer {
    width: 100%;
    height: 300px;
  }
}/*# sourceMappingURL=style.css.map */