* {
  padding: 0%;
  margin: 0%;
}
a {
  text-decoration: none;
}
.wrapper {
  width: 1400px;
  margin: auto;
}
span {
  color: #90e051;
}
@media only screen and (max-width: 500px) {
  .wrapper {
    width: 100%;
  }
}
