.items {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 70px;
  margin-top: 100px;
}
.card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}
.item-p {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 600;
  font-size: 15.9429px;
  line-height: 21px;
  /* identical to box height, or 133% */

  color: #000000;
}
.item-num {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-size: 26.5715px;
  line-height: 32px;
  /* identical to box height, or 120% */

  color: #000000;
}
@media only screen and (max-width: 500px) {
  .items{
    flex-wrap: wrap;
  }
}
