.par {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 57px;
  /* identical to box height */
  text-align: center;
}
.news {
  width: 1400px;
  margin:0 auto 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
  flex-direction: column;
  gap: 40px;
}
.father {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.son {
  width: 310px;
  height: 430px;
  border: 1px solid gray;
  border-radius: 30px;
}
.holf {
  width: 310px;
  height: 190px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  background-color: #f8f8f8;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid gray;
}
.par1 {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  /* identical to box height */

  color: #000000;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}
.holf2 {
  padding: 20px;
}
.par2 {
  width: 270px;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;

  color: #5b5b5b;

  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 0;
}
.btn1 {
  /* Frame 3 */

  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 10px 89px;
  gap: 10px;
  width: 270px;
  height: 39px;
  border: 1px solid #dba833;
  border-radius: 5px;
  margin-top: 10px;
  background-color: transparent;
  /* Подробнее */
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  text-align: center;

  color: #dba833;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}
@media only screen and (max-width:500px){
  .son1{
    display: none;
  }
  .news{
    width: 100%;
  }
  .par{
    font-size: 30px;
  }
  .btn1{
    width: 90% !important;
  }
}