.map {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
  margin: 100px auto;
  width: 1000px;
  height: auto !important;
  border: 5px dashed #dba833;
  border-radius: 100px;
  padding: 20px;
  background-color: #f8f8f8;
}
.p8 {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 57px;
  /* identical to box height */
  text-align: center;

  color: #000000;
}
.img5 {
  width: 200px;
  height: 300px;
}
.p9 {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 38px;
}
.p10 {
  width: 500px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  color: #5b5b5b;
}
.com {
  background-color: white;
  display: flex;
  width: 800px;
  height: 400px;
  align-items: center;
  justify-content: space-evenly;
  border: 1px solid gray;
  border-radius: 50px;
}
@media only screen and (max-width: 500px) {
  .map {
    width: 95%;
    border-radius: 20px;
  }
  .p8 {
    font-size: 30px;
  }
  .img5 {
    display: none;
  }
  .com{
    text-align: center;
    width: 95%;
    height: auto;
  }
  .p10{
    width: auto;
  }
  .p9{
    font-size: 28px;
  }
}
