.posion {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  flex-direction: column;
  width: 1400px;
  margin:80px auto;
}
.posion-div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1084px;
  height: 330px;
  background: #ffffff;
  border: 3px dashed gray;
  border-radius: 40px;
}
.posion-half-div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  flex-direction: column;
}
.div-p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 39px;
  /* identical to box height */
  text-align: center;

  color: #000000;
}
.div-sub-p {
  width: 580px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  text-align: center;

  color: #5b5b5b;
}
.posion-btn {
  /* Frame 3 */

  box-sizing: border-box;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 131px;
  gap: 10px;
  width: 350px;
  height: 50px;
  border: 2px solid #dba833;
  border-radius: 5px;
  /* Заказать */
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-align: center;

  color: #dba833;
  background-color: transparent;
  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}
@media only screen and (max-width:500px){
    .posion{
        width: 100%;
    }
    .posion-div{
        width: 95%;
        height: auto;
        padding: 20px 0 20px;
        flex-direction: column;
    }
    .posion-img{
        width: 200px;
        height: 200px;
    }
    .div-sub-p{
        width: auto;
    }
    .posion-btn{
        width: 80%;
    }
}
